# Node.js and pnpm specific
node_modules
.pnpm-store/ # If you set virtual store dir to .pnpm-store in pnpm-workspace.yaml
.pnpm/ # If virtual store dir is not explicitly set, pnpm creates this by default
dist
build
coverage/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tgz
*.zip

# IDE specific files
.vscode/

apps/experiments
