---
const user = Astro.locals.user;
const isLoggedIn = !!user;
---

<nav class="flex items-stretch border-b border-neutral-200">
  <div
    class="w-xs pl-8 pr-6 py-4 flex items-center"
  >
    <a href="/" class="">Finest</a>
  </div>
  <div
    class="w-xs grow px-6 py-4 flex gap-3 items-center justify-between"
  >
    <form id="search-form" action="/search" method="GET" class="input input-ghost !outline-offset-0 w-full">
      <svg
        class="h-[1.2em] opacity-50"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <g
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2.5"
          fill="none"
          stroke="currentColor"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </g>
      </svg>
      <input type="search" name="q" class="grow" placeholder="Search" />
    </form>
  </div>
  <div class="flex grow gap-10 items-center justify-end px-8 py-4">
    {
      isLoggedIn ? (
        <>
          <a href="/notes">my notes</a>
          <div class="dropdown dropdown-hover dropdown-end">
            <span tabindex="0" role="link" class="m-1">
              {user.name}
            </span>
            <div class="dropdown-content menu  z-1 w-52 p-2">
              <ul class="bg-base-100 p-2 shadow-sm" tabindex="-1">
                <li>
                  <a href="/notes">My notes</a>
                </li>
                <li>
                  <a href="https://chromewebstore.google.com/">
                    Browser Extension
                  </a>
                </li>
                <li>
                  <a href="/settings">Settings</a>
                </li>
                <li>
                  <a id="signout">Sign out</a>
                </li>
              </ul>
            </div>
          </div>
        </>
      ) : (
        <>
          <a href="/login">Login</a>
        </>
      )
    }
  </div>
</nav>

<script>
  import { authClient } from "../utils/auth";
  document.getElementById("signout")?.addEventListener("click", async (e) => {
    e.preventDefault();
    await authClient.signOut().then(() => {
      window.location.href = "/";
    });
  });
</script>
