---
const user = Astro.locals.user;
const isLoggedIn = !!user;
---

<nav class="flex justify-between items-center p-6">
  <div class="flex gap-10 items-center">
    <a href="/" class="">Finest</a>
    <input type="search" name="search" placeholder="Search" class="input" />
  </div>
  <div class="flex gap-6">
    {
      isLoggedIn ? (
        <>
          <a href="/notes">my notes</a>
          <span>Hello, {user.name}</span>
          <a id="logout" href="/logout">
            Logout
          </a>
        </>
      ) : (
        <>
          <a href="/login">Login</a>
        </>
      )
    }
  </div>
</nav>

<script>
  import { authClient } from "../utils/auth";
  document.getElementById("logout")?.addEventListener("click", async (e) => {
    e.preventDefault();
    await authClient.signOut().then(() => {
      window.location.href = "/";
    });
  });
</script>
