@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, finest;
}

@plugin "daisyui/theme" {
  name: "finest";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(0.9709 0.0045 78.3);
  --color-base-300: oklch(75% 0.183 55.934);
  --color-base-content: oklch(0.4029 0.0043 67.7);
  --color-primary: oklch(75% 0.183 55.934);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(28% 0.141 291.089);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(28% 0.141 291.089);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0.380 0.141 291.1);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(45% 0.24 277.023);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(51% 0.096 186.391);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme {
  --color-content-medium: #757270;
  --color-content-light: #AAAAAA;
}

/* https://daisyui.com/theme-generator/#theme=eJyNkf1ugyAUxV-FmCzZkkoARXRvQ_XaklowoFm3Ze8-_GiLtWn8T-75cTzn8htpeYboM6qVBtdFuyiOraxU72IHDZSdsV4kFs6hVCtoqifzvbkMU8yvc6d-YGGE2VK7OQXC3tgKBpq2l3FQQdsdB2g8aaMczKfSNMbGrjzCWKJRh-PUYRL20kFMCfGSOTXl8d1_vyGCyMcjxAKI4EKQAhFMSMqRyHGywpMAF9xbYponiHNcJOkKLo3uQHd3_1UEDX1nZRMkSHIymKYUsYJi-gRe2T7rpnRtbkA6BmUpYkJgwhatXF-W4NyN5XRgSZEhmmc4KRYJvqTVSh_uG8imDeRI-Dt5iIK148PPIBnBwrdimNHsMeqmTnPUTeycdMUyMdYTAqUcZwlfRV7f4NNCGGIZJikLb7RWnaX9vrP5W_B4JC8W8cFbV5tx6cuGMV6xc45tW7zG2ERPKV6iFdSyb7xWy8bBLmot1GCd_8Vpnv39A29XRWQ */

/* libre-franklin-latin-300-normal */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(@fontsource/libre-franklin/files/libre-franklin-latin-300-normal.woff2) format('woff2'), url(@fontsource/libre-franklin/files/libre-franklin-latin-300-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* libre-franklin-latin-400-normal */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/libre-franklin/files/libre-franklin-latin-400-normal.woff2) format('woff2'), url(@fontsource/libre-franklin/files/libre-franklin-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* libre-franklin-latin-500-normal */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/libre-franklin/files/libre-franklin-latin-500-normal.woff2) format('woff2'), url(@fontsource/libre-franklin/files/libre-franklin-latin-500-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* libre-franklin-latin-600-normal */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(@fontsource/libre-franklin/files/libre-franklin-latin-600-normal.woff2) format('woff2'), url(@fontsource/libre-franklin/files/libre-franklin-latin-600-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* libre-baskerville-latin-400-normal */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/libre-baskerville/files/libre-baskerville-latin-400-normal.woff2) format('woff2'), url(@fontsource/libre-baskerville/files/libre-baskerville-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* libre-baskerville-latin-700-normal */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/libre-baskerville/files/libre-baskerville-latin-700-normal.woff2) format('woff2'), url(@fontsource/libre-baskerville/files/libre-baskerville-latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
}


@theme {
  --font-sans: 'Libre Franklin', Arial, Helvetica, sans-serif;
  --font-serif: 'Libre Baskerville', Georgia, serif;
  --container-4xs: 10rem;
  --breakpoint-xs: 30rem;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .heading {
    @apply font-serif text-2xl text-black;
  }

  .subheading {
    @apply font-serif text-xl text-content-light;
  }

  .article-container {
    @apply mx-4 mt-8 md:mx-16 md:mt-8 xl:ml-24 xl:mr-0 xl:mt-16 xl:max-w-3xl
  }
}