body {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 280px;
    padding: 16px;
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.finest-logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: italic;
}

#visit-dashboard-btn {
    margin-right: 8px;
    vertical-align: sub;
    cursor: pointer;
    background: none;
    border: none;
    width: 16px;
    height: 16px;
    padding: 0;
}

h1.source-title {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 4px 0;
    padding: 0;
}

p.source-link {
    font-style: italic;
    font-size: 13px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
    font-size: 12px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div#button-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    height: 32px;
}

div#button-container button {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    font-weight: medium;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: black;
    color: white;
}

div#button-container button:hover {
    opacity: 90%;
}

button#save-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

button#save-btn svg {
    height: 14px;
    stroke-width: 2.5px;
    padding-bottom: 1px;
}

button#screenshot-btn {
    max-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#save-btn .state-default,
#save-btn .state-pending,
#save-btn .state-success,
#save-btn .state-deleting {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

#save-btn[data-state="default"] .state-default {
    display: flex;
}

#save-btn[data-state="pending"] .state-pending {
    display: flex;
}

#save-btn[data-state="success"] .state-success {
    display: flex;
}

#save-btn[data-state="deleting"] .state-deleting {
    display: flex;
}

.spinner {
    animation: rotate 2s linear infinite;
    width: 14px;
    height: 14px;
}

.spinner .path {
    stroke: currentColor;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}