---
import { parseResponse } from "hono/client";
import { createServerClient } from "../utils/api";
import Layout from "../layouts/Layout.astro";

const client = createServerClient(Astro.request.headers);
const res = await client.api.notes.$get();
const notes = await parseResponse(res);

const user = Astro.locals.user;
---

<Layout>
  HW, {user ? user.name : "Guest"}!
  {
    notes.map((note) => (
      <div>
        <h2>{note.title}</h2>
        <h2>{note.content}</h2>
      </div>
    ))
  }
  <button id="button">Click on this button to fetch</button>
</Layout>
<script>
  import { client } from "@utils/api";

  const button = document.getElementById("button")!;
  button.addEventListener("click", () => {
    client.api.notes.$get().then((res) => {
      console.log("res", res);
      res.json().then((data) => {
        console.log("data", data);
      });
    });
  });
</script>
