---
import Layout from "../layouts/Layout.astro";
// import { parseResponse } from "hono/client";
// import { createServerClient } from "../utils/api";

// const client = createServerClient(Astro.request.headers);
// const res = await client.api.notes.$get();
// const notes = await parseResponse(res);
---

<Layout>
  HW
  <!-- {
    notes.map((note) => (
      <div>
        <h2>{note.title}</h2>
        <p>{note.content}</p>
      </div>
    ))
  } -->
</Layout>
