---
import { parseResponse } from "hono/client";
import { createServerClient } from "../utils/api";
import Layout from "../layouts/Layout.astro";

const client = createServerClient(Astro.request.headers);
const res = await client.api.notes.$get()
const notes = await parseResponse(res);
console.log('notes', notes);

---

<Layout>
  {
    notes.map((note) => (
      <div>
        <h2>{note.title}</h2>
        <h2>{note.content}</h2>
      </div>
    ))
  }
</Layout>
