---
import Layout from "@layouts/Layout.astro";

const articles = [
	{
		id: 1,
		title: "Understanding Astro: A Beginner's Guide",
		description:
			"Learn the basics of Astro, a modern web framework for building fast, content-focused websites.",
	},
	{
		id: 2,
		title: "Getting Started with Astro Components",
		description:
			"A step-by-step guide to creating and using components in Astro.",
	},
	{
		id: 3,
		title: "Astro vs. Traditional Frameworks",
		description:
			"A comparison of Astro with other popular web frameworks like React, Vue, and Svelte.",
	},
];
---

<Layout>
	<div>
		<div role="tablist">
			<a
				role="tab"
				href="/"
				id="tab-newest"
				aria-selected="true"
				aria-controls="panel-newest"
			>
				Newest
			</a>
			<a
				role="tab"
				href="/following"
				id="tab-following"
				aria-selected="false"
				aria-controls="panel-following"
			>
				Following
			</a>
		</div>

		<div id="panel-newest" role="tabpanel" aria-labelledby="tab-newest">
			<ul>
				{
					articles.map((article) => (
						<li>
							<a
								href={`/article/${article.id}`}
								target="_blank"
								rel="noopener noreferrer"
							>
								{article.title}
							</a>
							<p>{article.description}</p>
						</li>
					))
				}
				{articles.length === 0 && <li>No articles found.</li>}
			</ul>
		</div>
	</div>
</Layout>
