---
import { client } from 'utils/types';
import Layout from '../layouts/Layout.astro';

export const prerender = false

let res = await client.api.notes.$get()

var notes: { id: number; content: string, title: string }[] = [];
if (res.ok) {
	notes = await res.json();
}
---

<Layout>
	<ul>
		{notes.map((note) => (
			<li>{note.title}</li>
		))}
	</ul>
</Layout>
