---
import { parseResponse } from "hono/client";
import Layout from "../layouts/Layout.astro";
import { client } from "../utils/types";

const res = await client.api.notes.$get();
const notes = await parseResponse(res);
---

<Layout>
  <h1>Sup?</h1>
  {
    notes.map((note) => (
      <div>
        <p>{note}</p>
      </div>
    ))
  }
</Layout>
