---
import Layout from "@layouts/Layout.astro";
import { createServerClient } from "@utils/api";
import { parseResponse } from "hono/client";
import ArticleCard from "@components/ArticleCard";

const client = createServerClient(Astro.request.headers);
const page = Astro.url.searchParams.get('page') || '1'
const res = await client.api.articles.$get({query: {
	page
}})
const data = await parseResponse(res);
const articles = data.articles;
const hasMore = data.hasMore;
const user = Astro.locals.user;
---

<Layout>
	<main class="article-container">
		<div role="tablist" class="tabs tabs-border gap-4">
			<a href="/" role="tab" class="tab tab-active font-bold before:border-base-300 before:w-full before:left-0 before:bg-base-300 p-0">Articles</a>
		</div>
		<ul class="list my-8 rounded-none">
		{
			articles.map((article) => (
				<ArticleCard 
					note={article}
					userId={user?.id}
					projects={null}
				/>
			))
		}
		</ul>
		{hasMore ? <button class="link link-hover" id="load-more">Load more</button> : <></>}
	</main>
</Layout>


<script>
	document.getElementById("load-more")?.addEventListener("click", () => {
		const url = new URL(window.location.href);
		const currentPage = parseInt(url.searchParams.get('page') || '1', 10);
		url.searchParams.set('page', (currentPage + 1).toString());
		window.location.href = url.toString();
	});
</script>