---
import Layout from "@layouts/Layout.astro";
import { server } from "@utils/api";
import type { InferResponseType } from "hono";

var articles: InferResponseType<typeof server.api.articles.$get> = [];

try {
	let url = server.api.articles.$url(); // Log the URL to verify it's correct
	console.log("Fetching notes from URL:", url.toString());
	const res = await server.api.articles.$get().then((r) => {
		console.log("Fetched notes:", r);
		return r;
	});
	if (res.ok) {
		articles = await res.json();
	}
} catch (error) {
	console.error("Error fetching notes:", error);
}

Astro.locals.user?.name
---

<Layout>
	<div>
		<div role="tablist">
			<a role="tab" href="/" id="tab-newest" aria-selected="true" aria-controls="panel-newest">
				Newest
			</a>
			<a role="tab" href="/following" id="tab-following" aria-selected="false" aria-controls="panel-following">
				Following
			</a>
		</div>

		<div id="panel-newest" role="tabpanel" aria-labelledby="tab-newest">
			<ul>
				{
					articles.map((article) => (
						<li>
							<a href={`/article/${article.id}`} target="_blank" rel="noopener noreferrer">
								{article.title}
							</a>
							<p>{article.description}</p>
						</li>
					))
				}
				{articles.length === 0 && <li>No articles found.</li>}
			</ul>
		</div>
	</div>
</Layout>
