---
import { createServerClient } from "@utils/api";
import { parseResponse } from "hono/client";
import Layout from "@layouts/Layout.astro";
import ArticleCard from "@components/ArticleCard";

if (!Astro.locals.user) {
  return Astro.redirect("/auth/login");
}

const res = await createServerClient(Astro.request.headers).api.note.$get();

const notes = await parseResponse(res);
---

<Layout>
  <Fragment slot="navbar"></Fragment>
  <main class="article-container">
    <h1 class="heading mb-15">Your Notes</h1>

    {
      notes.length === 0 ? (
        <p class="text-content-light">You have not created any notes yet.</p>
      ) : (
          <section class="mb-10">
            {notes.length === 0 ? (
              <p class="text-content-light">No notes in this collection yet.</p>
            ) : (
              <ul class="list">
                {notes.map((note) => (
                  <ArticleCard
                    note={note}
                    projects={null}
                    userId={Astro.locals.user?.id}
                  />
                ))}
              </ul>
            )}
          </section>
      )
    }
    <style>
      html {
        height: 100vh;
      }
      body {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    </style>
  </main>
</Layout>
